.play_area p {
    margin: 0px;
    margin-bottom: 2px;
}

.play_area div {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
.play_area canvas {
    border: 1px solid black;
}

.movement_buttons {
    text-align: center;
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.movement_buttons button {
    width: 5em;
}

.info {
    display: inline-block;
    padding-left: 10px;
}
