---
title: Solo-Chess
short_description: An interactive implementation of two reductions showing that Solo-Chess with uniform budgets and only knights or only rooks is NP-Hard.
custom_css:
- assets/index.css
---
<body>
<div id="app">
    <div id="info">
        <h1>Solo Chess Reductions</h1>
        <p>A demonstration of the hardness proofs for Solo Chess presented in the paper "Uniform-Budget Solo Chess with Only Rooks or Only Knights is Hard". Have fun!</p>
    </div>
    <div id="reduction-div">
        <div id="general-info">
            <p>Solo-Chess is a single-player variant of chess in which the player must clear all but one piece from the board via a sequence of captures while ensuring that the number of captures performed by each piece does not exceed the piece's budget.</p>
            <p>The paper "Uniform-Budget Solo Chess with Only Rooks or Only Knights is Hard" shows that the problem is NP-Hard even when all pieces are rooks with budget exactly 2, or knights with budget exactly 11. This pages implements the NP-Hardness reduction for rooks and contains a playable instance resulting from our reduction for knights.</p>
        </div>

        <form id="reduction-choice">
            <p>Choose the reduction you want to play with.</p>
            <div class="buttons">
                <button type="button" class="reduction-button" id="rooks-button">Rooks</button>
                <button type="button" class="reduction-button" id="knights-button">Knights</button>
            </div>
        </form>

        <div id="rooks-info">
          <p>The reduction is from the vertex cover problem: given a graph G = (V,E) and a positive integer k, is there a subset V' containing at most k vertices from V such that each vertex in E has at least one endvertex in V'?</p>
          <p>
          In this variant of the game, the last remaining rook must be placed in the highlighted target position on the top right of the board. See the paper for a discussion on how this assumption can be removed.
          </p>
        </div>

        <div id="knights-info">
          <p>The reduction is from the problem of finding a Hamiltonian path in a graph G. The following board results from applying our reduction to the graph in the figure (a). As part of the reduction the graph is embedded on a grid, and then on the chessboard. The embedding of the graph on a grid is shown in figure (b).</p>

          <img id="knights-img" width="400px" src="./assets/knights.svg" />
        </div>

          <form id="add-edges-form">
            <label for="graph">Decribe the graph G using an edge per line. The vertex names are consecutive integers starting from 0, and each line describing an edge e contains the name of the two endvertices of e separated by a space.
                <br>You can use the example graph below or modify it to your liking.
            </label>
            <textarea id="graph" name="graph" rows="10"></textarea>
            <label for="parameter">Parameter k (at most the number of nodes of the graph)</label>
            <input type="number" name="parameter" id="parameter">
            <div class="buttons">
                <button type="button" class="submission-button" id="generate">Generate</button>
            </div>
        </form>

        <div id="board-div">
            <p id="status"></p>
            <div id="chessboard">
            </div>
            <div class="buttons">
                <button type="button" id="reset-board">Reset board</button>
                <button type="button" class="reload-button">Restart</button>
            </div>
            <div id="legenda">
                <ul>
                    <li>
                        <span style="color: red;">Red pieces</span>: 0 captures left.
                    </li>
                    <li>
                        <span style="color: dodgerblue;">Blue pieces</span>: 1 capture left.
                    </li>
                    <li>
                        <span style="color: green;">Green pieces</span>: 2 captures left.
                    </li>
                    <li>
                        <span style="color: black;">Black pieces</span>: more than 2 captures left (see tooltip above pieces).
                    </li>
                    <li>
                        <div class="legenda target"></div>
                        <p>Target position (for rooks)</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<script type="module" crossorigin src="assets/index.js"></script>
