<div class="cite-wrap">
  <input id="cite-checkbox" class="cite-checkbox" type="checkbox" style="display: none;">
  <label for="cite-checkbox" class="cite-label">
    <span class="cite-collapsed-arrow">&#9656;</span>
    <span class="cite-expanded-arrow">&#9662;</span>
    Cite this page
  </label>
  <div class="cite-content">
    <pre class="citation">
@misc{cog:{{ include.tag }},
    author = "{CoG contributors}",
    title  = "&#123;{{include.title}}&#125;",
    year   = "{{ site.time | date: "%Y" }}",
    url    = "{{ page.url | absolute_url | replace: 'index.html', '' }}",
    note   = "[Online; accessed {{ site.time | date: "%Y-%m-%d" }}]"
}</pre>
  </div>
</div>
