<header>
    <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/images/logo.png" class="header_logo" alt="CoG logo">
    </a>
    <label id="hamburger" for="show-menu" class="show-menu"></label>
    <input  type="checkbox" id="show-menu" role="button">
    <ul>
        <li><a href="{{site.baseurl}}/i/">Compendium</a></li>
        <li><a href="{{site.baseurl}}/g/">Hosting</a></li>
        <li><a href="{{site.baseurl}}/contributors.html">Contributors</a></li>
    </ul>
</header>
