:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.3;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    height: 100%;
    min-width: 100%;
    padding: 10px;
}

p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

#info {
    margin: 15px auto 10px auto;
    border-bottom: 1px solid black;
    text-align: center;
}

#info h1 {
    margin: 10px auto;
    font-size: 3.2em;
    line-height: 1.1;
}

#reduction-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#general-info {
    margin-bottom: 2.5rem;
}

#rooks-info,
#knights-info,
#add-edges-form,
#board-div>div {
    display: none;
}

#knights-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#status {
    height: 10px;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

#legenda li {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    margin: 10px;
}

form {
    display: flex;
    width: 80%;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
}

input {
    width: 100px;
}

textarea {
    border-radius: 3px;
    resize: none;
    width: 300px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5em 0.1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    width: 150px;
    color: white;
}

button:hover {
    border-color: #646cff;
}

.buttons {
    display: block;
    padding-top: 20px;
}

.reduction-button {
    background: chocolate;
}

.submission-button {
    background: green;
}

.reload-button {
    background: red;
}

#board-div,
#chessboard {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 0 1rem;
    overflow-x: hidden;
}

.rooks-cell {
    height: 33px;
    min-width: 33px;
    width: 33px;
    border: 1px solid black;
}

.knights-cell {
    height: 17px;
    width: 17px;
    min-width: 17px;
    border: 1px solid black;
}

.border {
    background: lightblue;
}

.legenda {
    height: 33px;
    width: 33px;
    margin-right: 5px;
}

.target {
    background: orange;
}

.rook-div svg {
    height: 25px;
    width: 25px;
}

.rook-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.knight-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
}

.knight-div svg {
    height: 14px;
    width: 14px;
}

svg.green {
    fill: green;
}

svg.blue {
    fill: dodgerblue;
}

svg.red {
    fill: red;
}

svg.black {
    fill: black;
}

#reset-board {
    background: darkorange;
}